{% extends "base/base.html" %}
{% load static %}

{% block slider %}
<style>
	/* Basic button styling */
	.block2-btn {
		display: inline-block;
		margin: 10px;
		padding: 10px 20px;
		text-decoration: none;
		color: white;
		background-color: #333;
		border-radius: 5px;
		transition: background-color 0.3s;
	}

	.block2-btn:hover {
		background-color: #555;
	}

	/* Popup styling */
	.popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		justify-content: center;
		align-items: center;
		overflow-y: auto;
	}

	.popup-content {
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		width: 90%;
		max-width: 1200px;
		position: relative;
	}

	.close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 20px;
		cursor: pointer;
	}

	.close-btn:hover {
		color: red;
	}

	/* Additional styles for the product details */
	.container {
		width: 100%;
	}

	.bg0 {
		background-color: #fff;
	}

	.p-t-60 {
		padding-top: 60px;
	}

	.p-b-30 {
		padding-bottom: 30px;
	}

	.p-lr-15-lg {
		padding-left: 15px;
		padding-right: 15px;
	}

	.how-pos3-parent {
		position: relative;
	}

	.hov3 {
		transition: all 0.3s;
	}

	.trans-04 {
		transition: all 0.4s;
	}

	.js-hide-modal1 {
		cursor: pointer;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	.col-md-6 {
		width: 50%;
		padding: 15px;
	}

	.p-b-30 {
		padding-bottom: 30px;
	}

	.p-l-25 {
		padding-left: 25px;
	}

	.p-r-30 {
		padding-right: 30px;
	}

	.p-lr-0-lg {
		padding-left: 0;
		padding-right: 0;
	}

	.wrap-slick3 {
		position: relative;
	}

	.slick3 {
		display: flex;
		overflow: hidden;
	}

	.item-slick3 {
		flex: 0 0 100%;
		transition: transform 0.5s;
	}

	.wrap-pic-w {
		position: relative;
	}

	.wrap-pic-w img {
		width: 100%;
		height: auto;
	}

	.flex-c-m {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.size-108 {
		width: 108px;
		height: 108px;
	}

	.bor0 {
		border: none;
	}

	.fs-16 {
		font-size: 16px;
	}

	.cl10 {
		color: #fff;
	}

	.bg0 {
		background-color: #000;
	}

	.hov-btn3 {
		transition: all 0.3s;
	}

	.hov-btn3:hover {
		opacity: 0.8;
	}

	.mtext-105 {
		font-size: 24px;
		font-weight: bold;
	}

	.mtext-106 {
		font-size: 20px;
		color: #333;
	}

	.stext-102 {
		font-size: 16px;
		color: #666;
	}

	.p-t-23 {
		padding-top: 23px;
	}

	.flex-w {
		display: flex;
		flex-wrap: wrap;
	}

	.flex-r-m {
		flex-direction: row-reverse;
	}

	.p-b-10 {
		padding-bottom: 10px;
	}

	.size-203 {
		width: 100px;
	}

	.respon6 {
		display: flex;
		align-items: center;
	}

	.rs1-select2 {
		position: relative;
	}

	.bor8 {
		border: 1px solid #e6e6e6;
		border-radius: 5px;
	}

	.js-select2 {
		width: 100%;
		padding: 10px;
		border: none;
		outline: none;
	}

	.dropDownSelect2 {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
	}

	.wrap-num-product {
		display: flex;
		align-items: center;
	}

	.btn-num-product-down,
	.btn-num-product-up {
		cursor: pointer;
		padding: 5px;
	}

	.num-product {
		width: 50px;
		text-align: center;
	}

	.stext-101 {
		font-size: 16px;
		font-weight: bold;
	}

	.cl0 {
		color: #000;
	}

	.size-101 {
		width: 100%;
		padding: 10px;
	}

	.bg1 {
		background-color: #333;
	}

	.bor1 {
		border: 1px solid #333;
	}

	.hov-btn1 {
		transition: all 0.3s;
	}

	.hov-btn1:hover {
		background-color: #555;
	}

	.p-lr-15 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.trans-04 {
		transition: all 0.4s;
	}

	.js-addcart-detail {
		cursor: pointer;
	}
</style<style>
	/* Basic button styling */
	.block2-btn {
		display: inline-block;
		margin: 10px;
		padding: 10px 20px;
		text-decoration: none;
		color: white;
		background-color: #333;
		border-radius: 5px;
		transition: background-color 0.3s;
	}

	.block2-btn:hover {
		background-color: #555;
	}

	/* Popup styling */
	.popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		justify-content: center;
		align-items: center;
		overflow-y: auto;
	}

	.popup-content {
		background-color: white;
		padding: 20px;
		border-radius: 10px;
		width: 90%;
		max-width: 1200px;
		position: relative;
	}

	.close-btn {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 20px;
		cursor: pointer;
	}

	.close-btn:hover {
		color: red;
	}

	/* Additional styles for the product details */
	.container {
		width: 100%;
	}

	.bg0 {
		background-color: #fff;
	}

	.p-t-60 {
		padding-top: 60px;
	}

	.p-b-30 {
		padding-bottom: 30px;
	}

	.p-lr-15-lg {
		padding-left: 15px;
		padding-right: 15px;
	}

	.how-pos3-parent {
		position: relative;
	}

	.hov3 {
		transition: all 0.3s;
	}

	.trans-04 {
		transition: all 0.4s;
	}

	.js-hide-modal1 {
		cursor: pointer;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		margin: -15px;
	}

	.col-md-6 {
		width: 50%;
		padding: 15px;
	}

	.p-b-30 {
		padding-bottom: 30px;
	}

	.p-l-25 {
		padding-left: 25px;
	}

	.p-r-30 {
		padding-right: 30px;
	}

	.p-lr-0-lg {
		padding-left: 0;
		padding-right: 0;
	}

	.wrap-slick3 {
		position: relative;
	}

	.slick3 {
		display: flex;
		overflow: hidden;
	}

	.item-slick3 {
		flex: 0 0 100%;
		transition: transform 0.5s;
	}

	.wrap-pic-w {
		position: relative;
	}

	.wrap-pic-w img {
		width: 100%;
		height: auto;
	}

	.flex-c-m {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.size-108 {
		width: 108px;
		height: 108px;
	}

	.bor0 {
		border: none;
	}

	.fs-16 {
		font-size: 16px;
	}

	.cl10 {
		color: #fff;
	}

	.bg0 {
		background-color: #000;
	}

	.hov-btn3 {
		transition: all 0.3s;
	}

	.hov-btn3:hover {
		opacity: 0.8;
	}

	.mtext-105 {
		font-size: 24px;
		font-weight: bold;
	}

	.mtext-106 {
		font-size: 20px;
		color: #333;
	}

	.stext-102 {
		font-size: 16px;
		color: #666;
	}

	.p-t-23 {
		padding-top: 23px;
	}

	.flex-w {
		display: flex;
		flex-wrap: wrap;
	}

	.flex-r-m {
		flex-direction: row-reverse;
	}

	.p-b-10 {
		padding-bottom: 10px;
	}

	.size-203 {
		width: 100px;
	}

	.respon6 {
		display: flex;
		align-items: center;
	}

	.rs1-select2 {
		position: relative;
	}

	.bor8 {
		border: 1px solid #e6e6e6;
		border-radius: 5px;
	}

	.js-select2 {
		width: 100%;
		padding: 10px;
		border: none;
		outline: none;
	}

	.dropDownSelect2 {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
	}

	.wrap-num-product {
		display: flex;
		align-items: center;
	}

	.btn-num-product-down,
	.btn-num-product-up {
		cursor: pointer;
		padding: 5px;
	}

	.num-product {
		width: 50px;
		text-align: center;
	}

	.stext-101 {
		font-size: 16px;
		font-weight: bold;
	}

	.cl0 {
		color: #000;
	}

	.size-101 {
		width: 100%;
		padding: 10px;
	}

	.bg1 {
		background-color: #333;
	}

	.bor1 {
		border: 1px solid #333;
	}

	.hov-btn1 {
		transition: all 0.3s;
	}

	.hov-btn1:hover {
		background-color: #555;
	}

	.p-lr-15 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.trans-04 {
		transition: all 0.4s;
	}

	.js-addcart-detail {
		cursor: pointer;
	}
</style>
<!-- Slider -->
<section class="section-slide">
	<div class="wrap-slick1">
		<div class="slick1">
			<div class="item-slick1" style="background-image: url({% static 'images/slide-01.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Women Collection 2018
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								NEW SEASON
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
							<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({% static 'images/slide-02.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Men New-Season
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								Jackets & Coats
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
							<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="item-slick1" style="background-image: url({% static 'images/slide-03.jpg' %});">
				<div class="container h-full">
					<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
						<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
							<span class="ltext-101 cl2 respon2">
								Men Collection 2018
							</span>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
							<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
								New arrivals
							</h2>
						</div>
							
						<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
							<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Banner -->
<div class="sec-banner bg0 p-t-80 p-b-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{% static 'images/banner-01.jpg' %}" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Women
							</span>

							<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{% static 'images/banner-02.jpg' %}" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Men
							</span>

							<span class="block1-info stext-102 trans-04">
								Spring 2018
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="{% static 'images/banner-03.jpg' %}" alt="IMG-BANNER">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8">
								Accessories
							</span>

							<span class="block1-info stext-102 trans-04">
								New Trend
							</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">
								Shop Now
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock slider %}

{% block section %}
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Product Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Products
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
					Women
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
					Men
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
					Bag
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
					Shoes
				</button>

				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
					Watches
				</button>
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					 Filter
				</div>

				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>
			
			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<div class="bor8 dis-flex p-l-15">
					<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>

					<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
				</div>	
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Default
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Popularity
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Average rating
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									Newness
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: Low to High
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									Price: High to Low
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Price
						</div>

						<ul>
							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									All
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$0.00 - $50.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$50.00 - $100.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$100.00 - $150.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$150.00 - $200.00
								</a>
							</li>

							<li class="p-b-6">
								<a href="#" class="filter-link stext-106 trans-04">
									$200.00+
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col3 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Color
						</div>

						<ul>
							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #222;">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04">
									Black
								</a>
							</li>

							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
									Blue
								</a>
							</li>

							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04">
									Grey
								</a>
							</li>

							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04">
									Green
								</a>
							</li>

							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
									<i class="zmdi zmdi-circle"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04">
									Red
								</a>
							</li>

							<li class="p-b-6">
								<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
									<i class="zmdi zmdi-circle-o"></i>
								</span>

								<a href="#" class="filter-link stext-106 trans-04">
									White
								</a>
							</li>
						</ul>
					</div>

					<div class="filter-col4 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Tags
						</div>

						<div class="flex-w p-t-4 m-r--5">
							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Fashion
							</a>

							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Lifestyle
							</a>

							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Denim
							</a>

							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Streetstyle
							</a>

							<a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
								Crafts
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row isotope-grid" id="product-grid">
			{% for item in product_list %}
			<a href="{% url 'product' item.product.slug %}">
				<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="{{ item.product.get_image }}" alt="IMG-PRODUCT">
							{% comment %} <a href="#" id="quickView" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Quick View
							</a> {% endcomment %}
							<a href="#" class="block2-btn" onclick="showPopup('popup1'); return false;">
								Quick View 1
							</a>
						</div>
						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l">
								<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									{{ item.product.name }}
								</a>
								<span class="stext-105 cl3">
									${{ item.product.price }}
								</span>
							</div>
							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
									<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
			</a>
			<input type="text" id="productSlug" style="display: none;" value="{{ item.product.slug }}">
			{% endfor %}
		</div>
		
		<!-- Load more button -->
		<div class="flex-c-m flex-w w-full p-t-45">
			<a href="#" id="load-more" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04" data-page="2">
				Load More
			</a>
		</div>
	</div>
	  <!-- Popup -->
	<div id="popup1" class="popup">
        <div class="popup-content">
            <span class="close-btn" onclick="closePopup('popup1')">&times;</span>
            <div class="container">
                <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                    <button class="how-pos3 hov3 trans-04 js-hide-modal1" onclick="closePopup('popup1')">
                        <img src="images/icons/icon-close.png" alt="CLOSE">
                    </button>

                    <div class="row">
                        <div class="col-md-6 col-lg-7 p-b-30">
                            <div class="p-l-25 p-r-30 p-lr-0-lg">
                                <div class="wrap-slick3 flex-sb flex-w">
                                    <div class="wrap-slick3-dots"></div>
                                    <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                    <div class="slick3 gallery-lb" id="product-images">
                                        <!-- Images will be dynamically inserted here -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5 p-b-30">
                            <div class="p-r-50 p-t-5 p-lr-0-lg">
                                <h4 class="mtext-105 cl2 js-name-detail p-b-14" id="product-name">
                                    <!-- Product name will be dynamically inserted here -->
                                </h4>

                                <span class="mtext-106 cl2" id="product-price">
                                    <!-- Product price will be dynamically inserted here -->
                                </span>

                                <p class="stext-102 cl3 p-t-23" id="product-description">
                                    <!-- Product description will be dynamically inserted here -->
                                </p>

                                <div class="p-t-33">
                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Size
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="size">
                                                    <option>Choose an option</option>
                                                    <option>Size S</option>
                                                    <option>Size M</option>
                                                    <option>Size L</option>
                                                    <option>Size XL</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Color
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="color">
                                                    <option>Choose an option</option>
                                                    <option>Red</option>
                                                    <option>Blue</option>
                                                    <option>White</option>
                                                    <option>Grey</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>

                                            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                                Add to cart
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
	document.addEventListener('DOMContentLoaded', function() {
		document.getElementById('quickView').addEventListener('click', function() {
			const productSlug = document.getElementById('productSlug').value;
			const url = `quick-view/${productSlug}`;
			
			fetch(url, {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json',
					'X-Requested-With': 'XMLHttpRequest',
				},
			})
			.then(response => {
				if (!response.ok) {
					return response.json().then(err => { throw new Error(err.message || 'Something went wrong'); });
				}
				return response.json();
			})
			.then(data => {
				console.log('Product data:', data);
				// Add logic here to display data in the quick view modal or section
			})
			.catch(error => {
				console.error('Error fetching product data:', error);
			});
		});
	});	
</script>

{% endblock section %}

document.getElementById('product-name').innerText = data.name;
document.getElementById('product-price').innerText = `$${data.price}`;
document.getElementById('product-description').innerText = data.description;