{% extends "base/base2.html" %}

{% block title %}Order Success Page{% endblock title %}

{% block section %}
<div class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <!-- Order Success Message -->
                    <div class="text-center p-b-40">
                        <h2 class="mtext-109 cl2 p-b-30">
                            🎉 Order Placed Successfully! 🎉
                        </h2>
                        <p class="stext-110 cl6 p-b-20">
                            Thank you for shopping with us! Your order has been placed successfully.
                        </p>
                        <p class="stext-110 cl6 p-b-20">
                            An email confirmation has been sent to <strong>{{ order.email }}</strong>.
                        </p>
                    </div>

                    <!-- Order Details -->
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Order Details
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Order ID:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    #{{ order.id }}
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Order Date:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    {{ order.created_at|date:"F j, Y" }}
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Payment Method:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    {{ order.payment_method }}
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Shipping Address:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2">
                                    {{ order.shipping_address }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Order Summary
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Subtotal:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2">
                                $ {{ order.subtotal }}
                            </span>
                        </div>
                        <div class="size-208">
                            <span class="stext-100 cl2">
                                Shipping Fee:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-100 cl2">
                                $ {{ order.shipping_fee }}
                            </span>
                        </div>
                        <div class="size-208">
                            <span class="stext-100 cl2">
                                Discounts:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-100 cl2">
                                $ {{ order.discount }}
                            </span>
                        </div>
                    </div>

                    <div class="flex-w flex-t p-t-27 p-b-33">
                        <div class="size-208">
                            <span class="mtext-101 cl2">
                                Total:
                            </span>
                        </div>

                        <div class="size-209 p-t-1">
                            <span class="mtext-110 cl2">
                                ${{ order.total }}
                            </span>
                        </div>
                    </div>

                    <!-- Continue Shopping Button -->
                    <div class="text-center">
                        <a href="{% url 'home' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            Continue Shopping
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock section %}